.carousel-caption{
    background: #222;
    padding: 5px;
    color: white;
    text-align: center;
}

.carousel-cell{

}
.flickity-page-dots{
    display: none;
}

.home-news-header{
    border-bottom: 2px dotted #f15b4e;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.home-craig-pic{
    float: right;
    width: 150px;
    padding: 3px;
    border: 1px solid;
    margin: 0px 0px 5px 10px;
}
