body {
	background-color: white;
	/*background-image: url(../images/header_background_long.jpg);*/
	background-repeat: repeat-x;
	margin: 0;
}


#header {
	 background-image: url(../images/header_background_long.jpg); 
	background-repeat: no-repeat;
	width: auto;
	padding: 0;
	margin: 0;
	/*-moz-box-shadow: -20px 13px 13px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 13px 13px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 13px 13px rgba(0, 0, 0, 0.25);*/
	position: relative;
	
}

#header img {
	/*margin-top: 30px;*/
	margin: 0;
	padding: 0;
}

#tagline-container.home {
	background: #4E5F36; /* old browsers */
	background: -moz-linear-gradient(top, #4E5F36 0%, #4E5F36 44%, #6C8754 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4E5F36), color-stop(44%,#4E5F36), color-stop(100%,#6C8754)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4E5F36', endColorstr='#6C8754',GradientType=0 ); /* ie */
	-moz-box-shadow: -20px 8px 8px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
	

}


#tagline-container.projectlisting {
	background: #9A4826; /* old browsers */
	background: -moz-linear-gradient(top, #9A4826 0%, #C1693A 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9A4826), color-stop(100%,#C1693A)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9A4826', endColorstr='#C1693A',GradientType=0 ); /* ie */
	-moz-box-shadow: -20px 8px 8px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
	

}



#tagline {
	width: 1000px;
	margin: auto;
	padding: 15px;


}

#tagline ul {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;

}

#tagline em {
	float: right;

}

#project-list {
	display: block;
	list-style-type: none;
}

#project-list li{
	list-style-type: none;
	float: left;
	padding: 5px 10px;
}
#project-list li a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 40px;
}
#project-list li a:hover {
	background: #DADADA;
}
.clear {
	clear: both;
}

#uiowa-bar {
	background-color: #2d6d75;
	padding: 3px;
	

}

#uiowa-logo {
	width: 1000px;
	margin: auto;

}

#header-content img{
	/*display: block;*/

}

#navigation-container {
	background: url(../images/nav-bg.png);
	border-bottom: 4px solid #e99b23;
}

#navigation {
	width: 1000px;
	margin: auto;
	padding: 20px 0px 0px 0px;
}
#navigation #logo a {
	font-size: 10px;
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	width: 404px;
	display: block;
	float: left;
	line-height: 20px;
}
#logo span {
	display: block;
	font-size: 24px;
}
#navigation #logo img {
	display: block;
	float: none;
}


#navigation ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	float: right;
	
}
.navigation__site-title{
	text-transform: uppercase;
}
.logo {float: left;}

#navigation ul li {

	float: left;
	padding: 0 10px;


}

#nav li a, #nav li span{
	padding-left: 32px;
	padding-right: 32px;
}

#nav .first{
	padding-left: 0px;
}

#background-wrapper {
	background-image: url(../images/content-bg.png);
	background-repeat: repeat-x;

}

#body-wrapper{
	width: 1000px;
	margin: auto;
}

.clear-left {
	clear: left;
}

.clear-both {
	clear: both;
}

#content-wrapper {
	width: 1000px;
	margin: auto;
}

#homepage-content-wrapper {
	min-height: 500px;

}

#page-content-wrapper {
	background-color: #f6f6f6;
	padding: 30px;
	min-height: 500px;

}

#page-content {
	width: 660px;
	float: left;
	
}

#page-content.project-page {
	width: 100%;
	float: none;

}

#page-sidebar {
	background-color: #dbedf0;
	width: 200px;
	float: left;
	margin-left: 35px;
	-moz-box-shadow: -20px 8px 8px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
	padding: 20px;
}

.box { 

	background-color: #dbedf0;
	width: 200px;
	-moz-box-shadow: -20px 8px 8px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
	padding: 20px;
 }
 
 
 .box.project {
 	float: left;
 	min-height: 400px;
 	width: 620px;
 	margin: 10px 0px;
 }
 
 .projects {
 	padding: 40px 0;
 
 }
 
 .box.project.even {
 	background: #fdc19a;
 
 }


#footer {
	background: #442812;
	border-top: 4px solid #e99b23;
	min-height: 320px;



}

#footer-content{
	padding-top: 22px;
	padding-bottom: 22px;
	width: 1000px;
	margin:auto;

}

#footer-content.typography ul li p.copyright a{
	font-size: 14px;
	color: #E99B23;
}

#footer-content ul {
	padding-left: 0;
	margin: 0;
	padding-right: 10px;
	text-align: center;
	/*min-width: 150px; */

}

.footer-content__menu{

}

.footer-content__menu-item{

}
#footer-content ul li{
	list-style-type: none;
	padding: 0;
	margin: 20px 0;
	
}

#footer-content ul li ul{
	margin: 0;
	padding: 0;

}

#footer-content ul li ul li{
	margin: 0;
	padding: 0;
	margin-top: 10px;

}

#footer-content ul li.first {
	margin: 0;
	padding: 0;

}



#footer-content .footing{
	margin: 0;
	padding: 0;
	padding-top: 20px;
	border-top: 1px solid rgba(255,255,255,.3);
	width: 1000px;

}

#footer-content ul.iowa-logo{
	margin:0;
	padding-top:10px;
}

#footer-content ul.iowa-logo li{
	color: #E99B23;
}

#footer-content ul.contact{
	margin:0;
	padding:10px 0 0 0;
	color: #E99B23;
	/*background-color: rgba(45, 109, 117,.3);
	border-left: 1px solid #E99B23;
	border-top: 1px solid #E99B23;
	border-bottom: 1px solid #E99B23;*/
	
	
}
#footer-content ul.contact li {
	color: #FDF8EA;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #2D6D75;
	font-size: 14px;
	
}


#footer-content ul li strong{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#footer-content ul li a img{
	margin: 0;
	padding: 0;
	}

#footer-content ul.contact-info{

	margin:0;
	padding:10px 0 2px 0;
	font-size: 14px;
	/*background-color: rgba(45, 109, 117,.3);
	border-right: 1px solid #E99B23;
	border-top: 1px solid #E99B23;
	border-bottom: 1px solid #E99B23;*/
}

#footer-content ul.contact-info li {

	color: #FDF8EA;
	font-size: 14px;
	margin: 0;
	padding: 0;
}


#footer-content.typography ul.contact-info li a{
	text-decoration: none;
	color: #E99B23;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}


/* Home Page Styles--will probably be separated later */

#feature-image img{
	-moz-box-shadow: -20px 8px 8px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.10);
	box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.10);
	z-index: -1;
}

#feature-image-wrapper {
	/*float: left;*/
	position: relative;

}

#feature-image-caption {
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);

}

#feature-image-caption-content {
	padding: 10px;
	margin: 0;
}

#homepage-news-wrapper {
	width: 500px;
	float: left;

}

#homepage-content {
	width: 470px;
	float: left;
	margin-left: 25px;

}

#homepage-content-wrapper {
	margin-top: 20px;

}

#homepage-aboutbox {
	margin-top: 25px;
}
img.person {
	float: right;
	width: 150px;
	padding: 3px;
	border: 1px solid;
	margin: 0px 0px 5px 10px;
}

.news-post {
	margin: 25px 0;

}

#featured-profile {
	min-height: 100px;
	background: #ddeff2;
	-moz-box-shadow: -20px 8px 8px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.10);
	box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.10);
	padding: 20px;

}

.linkedin {
	height: 40px;
	margin: 15px 0px 0px 0px;
	width: 40px;
}
#footing {
	clear: both;
	margin: 30px 0px 0px 0px;
}
#footing a {
	text-decoration: none;
}
#footing img {
	border: 0px;
}

#blog-content #Sidebar {
	float: right;
	width: 300px;
}
#blog-content #BlogContent {
	float: left;
	width: 600px;
}
#blog-content .blogSummary .postTitle a {
	color: #9E652E;
	text-decoration: none;
}
#blog-content .blogSummary h2 {
	margin: 20px 0px 0px 0px;
}