#navigation ul li {
	color: white;
	font-family:"Century Gothic", "Futura", 'Cabin', arial, serif;
	text-transform: uppercase;
}

#navigation ul li a{
	color: white;
	text-decoration: none;
}

.typography p {
	color: #6A3533;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}

.typography li {
	color: white;

}

.typography {
	font-family: 'Open Sans', sans-serif;

}

.typography h1, .typography h2, .typography h3, .typography h4 {
	font-family:"Century Gothic", "Futura", 'Cabin', arial, serif;
}

.typography h1 {
	color: #333232;

}

.typography h3 {
	color: #9e652e;
	font-size: 22px;
	margin: 3px 0;
}

.typography h3 a {
	color: #9e652e;
	text-decoration: none;
}
.typography h3 a:hover {
	text-decoration: underline;
}

.typography h4 {
	color: #24356e;
	margin: 3px 0;

}

.typography .news-date {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}

.typography h2.news {
	margin-top: 0;
	border-bottom: 1px solid #2D6D75;
	padding-bottom: 10px;
	text-transform: capitalize;

}


#tagline-container.typography p{

	color: white;
	font-size: 36px;
	
}

#tagline-container.typography h1{
	color: white;
	margin: 0;

}

#tagline-container.typography em{

	color: white;
	font-size: 23px;
	/*margin-top: 5px; */
	display: block;
	
}

#tagline-container.typography a {
	color: white;
}

.typography #project-list h2{
	color: white;
	padding: 0;
	margin: 0;
	padding-bottom: 5px;

}
#page-sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: square;
	list-style-position: inside;


}
#page-sidebar li a {
	font-family:"Century Gothic", "Futura", 'Cabin', arial, serif;
	text-decoration: none;
	margin: 5px 0;
	padding: 0;
	color: #333232;


}

#footer-content p, #footer-content p a {
	color: white;

}

#footer-content.typography ul li a{
	font-family:"Century Gothic", "Futura", 'Cabin', arial, serif;
	color: #fdf8ea;
	text-decoration: none;
	font-size: 20px;


}

#footer-content.typography ul li ul li a{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
 	line-height: 3px;
}

.nivo-caption p {
	color: white;

}


#feature-image-caption.typography a {
	color: #ef4540;

}

#feature-image-caption-content h2 {
	margin: 1px;

}

#feature-image-caption.typography {
	color: white;
}

.box h2 {
	margin: 4px 0;

}

#page-sidebar h2 a {
	color: #333;
	text-decoration: none;
}

#page-sidebar h2 {
	margin: 3px;

}

#page-sidebar ul li ul {
	margin-left: 15px;

}

.typography p.copyright {
	margin: 5px 0px 10px 0px;
	font-size: 12px;

}

